name: Codespell

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  codespell:
    name: Check spelling
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Check spelling
        uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630
        with:
          check_filenames: true
          check_hidden: true
